Repository DataDog/datadog-api-client-python, pull requests merged in 2020-11, with the labels that each got.

#140 Add changelog for beta 2
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#139 Add job for uploading the package
  .github/workflows/release.yml
Labels: changelog/no-changelog

#142 Set ddev config pypi pass
  .github/workflows/release.yml
Labels: changelog/no-changelog

#143 Update release instructions
  RELEASING.md
Labels: changelog/no-changelog, documentation

#157 Release 1.0.0b3
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#105 Add CI tags to tracked spans
  .azure-pipelines/all.yml
  tests/conftest.py
  tests/v1/test_scenarios.py
  tests/v2/test_scenarios.py
Labels: changelog/no-changelog, dev/tooling

#156 Extract examples
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Labels: changelog/no-changelog, dev/tooling
