Repository DataDog/datadog-api-client-python, pull requests merged in 2021-09, with the labels that each got.

#578 tests: unpin ddtrace for better dogfooding
  setup.cfg
Labels: changelog/no-changelog, ci/integrations

#584 Prepare 1.4 release
  CHANGELOG.md
Labels: documentation, changelog/no-changelog

#583 Improve missing cassette errors
  tests/conftest.py
Labels: changelog/no-changelog

#589 ci: add link to CI App product
  tests/conftest.py
Labels: changelog/no-changelog, dev/testing, ci/integrations
