Repository DataDog/datadog-api-client-python, pull requests merged in 2021-04, with the labels that each got.

#378 Enable body matching in VCR
  tests/conftest.py
  tests/v1/cassettes/test_scenarios/test_create_an_slo_object_returns_ok_response.frozen
  tests/v1/cassettes/test_scenarios/test_create_an_slo_object_returns_ok_response.yaml
  tests/v1/cassettes/test_scenarios/test_delete_an_slo_returns_ok_response.frozen
  tests/v1/cassettes/test_scenarios/test_delete_an_slo_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_create_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_create_a_logbased_metric_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_delete_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_delete_a_logbased_metric_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_a_logbased_metric_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_all_logbased_metrics_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_all_logbased_metrics_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_a_logbased_metric_returns_ok_response.yaml
Labels: changelog/no-changelog

#381 Release 1.0.0b8
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#383 Clean up
  .azure-pipelines/all.yml
Labels: changelog/no-changelog

#386 Fix timestamp formatting in unique
  tests/conftest.py
  tests/v1/cassettes/test_scenarios/test_create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.frozen
  tests/v1/cassettes/test_scenarios/test_create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
  tests/v1/cassettes/test_scenarios/test_create_an_slo_object_returns_ok_response.frozen
  tests/v1/cassettes/test_scenarios/test_create_an_slo_object_returns_ok_response.yaml
  tests/v1/cassettes/test_scenarios/test_delete_an_slo_returns_not_found_response.frozen
  tests/v1/cassettes/test_scenarios/test_delete_an_slo_returns_not_found_response.yaml
  tests/v1/cassettes/test_scenarios/test_get_all_dashboards_returns_ok_response.frozen
  tests/v1/cassettes/test_scenarios/test_get_all_dashboards_returns_ok_response.yaml
  tests/v1/cassettes/test_scenarios/test_get_an_slo_correction_for_an_slo_returns_ok_response.frozen
  tests/v1/cassettes/test_scenarios/test_get_an_slo_correction_for_an_slo_returns_ok_response.yaml
  tests/v1/cassettes/test_scenarios/test_submit_metrics_returns_payload_accepted_response.frozen
  tests/v1/cassettes/test_scenarios/test_submit_metrics_returns_payload_accepted_response.yaml
  tests/v1/cassettes/test_scenarios/test_update_an_slo_returns_bad_request_response.frozen
  tests/v1/cassettes/test_scenarios/test_update_an_slo_returns_bad_request_response.yaml
  tests/v2/cassettes/test_scenarios/test_create_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_create_a_logbased_metric_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_create_a_tag_configuration_returns_created_response.frozen
  tests/v2/cassettes/test_scenarios/test_create_a_tag_configuration_returns_created_response.yaml
  tests/v2/cassettes/test_scenarios/test_create_a_user_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_create_a_user_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_delete_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_delete_a_logbased_metric_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_delete_an_existing_incident_service_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_delete_an_existing_incident_service_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_delete_an_existing_rule_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_delete_an_existing_rule_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_a_list_of_all_incident_teams_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_a_list_of_all_incident_teams_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_a_list_of_incidents_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_a_list_of_incidents_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_a_user_invitation_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_a_user_invitation_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_a_user_permissions_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_a_user_permissions_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_a_user_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_a_user_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_all_logbased_metrics_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_all_logbased_metrics_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_get_details_of_an_incident_team_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_get_details_of_an_incident_team_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_list_tag_configurations_returns_success_response.frozen
  tests/v2/cassettes/test_scenarios/test_list_tag_configurations_returns_success_response.yaml
  tests/v2/cassettes/test_scenarios/test_revoke_permission_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_revoke_permission_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_send_invitation_emails_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_send_invitation_emails_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_a_logbased_metric_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_a_logbased_metric_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_a_role_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_a_role_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_a_tag_configuration_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_a_tag_configuration_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_a_user_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_a_user_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_an_existing_incident_service_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_an_existing_incident_service_returns_ok_response.yaml
  tests/v2/cassettes/test_scenarios/test_update_an_existing_incident_team_returns_ok_response.frozen
  tests/v2/cassettes/test_scenarios/test_update_an_existing_incident_team_returns_ok_response.yaml
Labels: changelog/no-changelog

#401 Remove nulltype
  setup.cfg
Labels: changelog/Fixed
