Repository DataDog/datadog-api-client-python, pull requests merged in 2021-12, with the labels that each got.

#702 Make some small cleanups to test setup
  pytest.ini
  setup.cfg
  tests/conftest.py
Labels: changelog/no-changelog, ci/integrations

#715 Changelog for 1.7
  CHANGELOG.md
Labels: documentation, changelog/no-changelog, ci/integrations

#721 Add team.codeowners to skipped tests
  setup.cfg
  tests/conftest.py
Labels: changelog/no-changelog, dev/testing, ci/integrations

#725 Sleep after request if needed
  .github/workflows/test_integration.yml
  tests/conftest.py
Labels: changelog/no-changelog, dev/testing, ci/integrations

#733 docs: bump mkdocs
  docs/requirements.txt
Labels: changelog/no-changelog

#739 Change debug wording
  README.md
Labels: documentation, changelog/no-changelog
