Repository DataDog/datadog-api-client-python, pull requests merged in 2022-02, with the labels that each got.

#810 Add workflow to push the release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: changelog/no-changelog

#821 Remove uncompression step
  .github/workflows/docs.yml
Labels: changelog/no-changelog

#824 Commit generated API docs
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/datadog_api_client.rst
  docs/datadog_api_client.v1.api.rst
  docs/datadog_api_client.v1.model.rst
  docs/datadog_api_client.v1.rst
  docs/datadog_api_client.v2.api.rst
  docs/datadog_api_client.v2.model.rst
  docs/datadog_api_client.v2.rst
  tox.ini
Labels: changelog/no-changelog

#834 Remove unused models
  Makefile
  docs/datadog_api_client.v1.model.rst
  docs/datadog_api_client.v2.model.rst
  src/datadog_api_client/v1/model/synthetics_error_code.py
  src/datadog_api_client/v2/model/security_monitoring_runtime_agent_rule.py
Labels: changelog/no-changelog

#837 Store unknown model properties in `_data_store` map
  .generator/templates/model_utils.mustache
  src/datadog_api_client/v1/model_utils.py
  src/datadog_api_client/v2/model_utils.py
  tests/test_deserialization.py
Labels: changelog/Changed

#816 Remove `dd-operation-id` header
  .generator/templates/api_client.mustache
  src/datadog_api_client/v1/api_client.py
  src/datadog_api_client/v2/api_client.py
Labels: changelog/no-changelog

#847 Update docs
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, changelog/no-changelog

#857 Remove make .env
  .gitignore
  Makefile
Labels: changelog/no-changelog
