Repository DataDog/datadog-api-client-python, pull requests merged in 2022-07, with the labels that each got.

#1082 Automatically calculate next version
  .github/workflows/prepare_release.yml
Labels: changelog/no-changelog

#964 Update supported version in README
  README.md
Labels: documentation, changelog/no-changelog, stale

#1027 tests: use upstream pytest-bdd traces
  .github/workflows/test_integration.yml
  setup.cfg
  tests/conftest.py
Labels: changelog/no-changelog, ci/integrations

#1109 Remove unused facilities
  .generator/src/generator/templates/model_oneof.j2
  .generator/src/generator/templates/model_utils.j2
  docs/requirements.txt
  src/datadog_api_client/model_utils.py
  src/datadog_api_client/v1/model/distribution_widget_histogram_request_query.py
  src/datadog_api_client/v1/model/formula_and_function_query_definition.py
  src/datadog_api_client/v1/model/logs_processor.py
  src/datadog_api_client/v1/model/monitor_formula_and_function_query_definition.py
  src/datadog_api_client/v1/model/notebook_cell_create_request_attributes.py
  src/datadog_api_client/v1/model/notebook_cell_response_attributes.py
  src/datadog_api_client/v1/model/notebook_cell_time.py
  src/datadog_api_client/v1/model/notebook_cell_update_request_attributes.py
  src/datadog_api_client/v1/model/notebook_global_time.py
  src/datadog_api_client/v1/model/notebook_update_cell.py
  src/datadog_api_client/v1/model/sunburst_widget_legend.py
  src/datadog_api_client/v1/model/synthetics_assertion.py
  src/datadog_api_client/v1/model/synthetics_basic_auth.py
  src/datadog_api_client/v1/model/widget_definition.py
  src/datadog_api_client/v2/model/api_key_response_included_item.py
  src/datadog_api_client/v2/model/application_key_response_included_item.py
  src/datadog_api_client/v2/model/authn_mapping_included.py
  src/datadog_api_client/v2/model/incident_field_attributes.py
  src/datadog_api_client/v2/model/incident_response_included_item.py
  src/datadog_api_client/v2/model/incident_service_included_items.py
  src/datadog_api_client/v2/model/incident_team_included_items.py
  src/datadog_api_client/v2/model/incident_timeline_cell_create_attributes.py
  src/datadog_api_client/v2/model/logs_aggregate_bucket_value.py
  src/datadog_api_client/v2/model/logs_archive_create_request_destination.py
  src/datadog_api_client/v2/model/logs_archive_destination.py
  src/datadog_api_client/v2/model/logs_group_by_missing.py
  src/datadog_api_client/v2/model/logs_group_by_total.py
  src/datadog_api_client/v2/model/metric_volumes.py
  src/datadog_api_client/v2/model/metrics_and_metric_tag_configurations.py
  src/datadog_api_client/v2/model/rum_aggregate_bucket_value.py
  src/datadog_api_client/v2/model/rum_group_by_missing.py
  src/datadog_api_client/v2/model/rum_group_by_total.py
  src/datadog_api_client/v2/model/user_response_included_item.py
Labels: changelog/no-changelog

#1111 Generate pagination examples
  .generator/conftest.py
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.py
  examples/v2/audit/SearchAuditLogs_3215529662.py
  examples/v2/incidents/ListIncidents_2665616954.py
  examples/v2/logs/ListLogsGet_738202670.py
  examples/v2/logs/ListLogs_3138392594.py
  examples/v2/processes/ListProcesses_797840471.py
  examples/v2/rum/ListRUMEvents_2680821282.py
  examples/v2/rum/SearchRUMEvents_574690310.py
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.py
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.py
Labels: changelog/no-changelog
