Repository DataDog/datadog-api-client-python, pull requests merged in 2022-01, with the labels that each got.

#752 Handle error in getfixturevalue
  tests/conftest.py
Labels: changelog/no-changelog

#766 Don't convert paths to snake case
  tests/conftest.py
Labels: changelog/no-changelog

#788 Enable code generation in repo
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: changelog/no-changelog, dev/tooling

#792 Fix RTD index and sync with top README
  docs/README.md
Labels: documentation, changelog/no-changelog

#794 Minor infra changes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#796 Changelog for 1.8
  CHANGELOG.md
Labels: documentation, changelog/no-changelog

#803 Add changelog config
  .github/release.yml
Labels: changelog/no-changelog

#806 Add a workflow to create the changelog
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
Labels: changelog/no-changelog
