Repository DataDog/datadog-api-client-python, pull requests merged in 2022-06, with the labels that each got.

#1026 Cleanup formatter module
  .generator/conftest.py
  .generator/src/generator/formatter.py
  .generator/src/generator/python_formatter.py
  .generator/src/generator/templates/example.j2
  .generator/src/generator/utils.py
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.py
  examples/v1/synthetics/UpdateAPITest.py
Labels: changelog/no-changelog

#1028 Fix compress call
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/rest.py
Labels: changelog/Fixed

#971 ci: extend detected code owners of each test
  .github/workflows/test_integration.yml
  tests/conftest.py
Labels: changelog/no-changelog, dev/testing, ci/integrations

#1038 Add cls to the list of keywords
  .generator/src/generator/formatter.py
  src/datadog_api_client/v1/model/synthetics_core_web_vitals.py
Labels: changelog/Fixed

#1045 Fix examples requiring tzoffset
  .generator/src/generator/formatter.py
  examples/v2/logs/ListLogsGet_2034110533.py
Labels: changelog/no-changelog

#1046 Don't build models for nullable
  .generator/src/generator/formatter.py
  examples/v1/notebooks/CreateNotebook.py
  examples/v1/notebooks/UpdateNotebook.py
  examples/v2/incidents/UpdateIncident_1009194038.py
Labels: changelog/no-changelog

#1063 Remove datadog-ci git-metadata upload
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#1074 Use cache in CI
  .github/workflows/approved_status.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#1062 Run pyflakes on examples
  .github/workflows/test.yml
  check-examples.sh
Labels: changelog/no-changelog

#1078 Add typing information to pagination methods
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  src/datadog_api_client/v2/api/audit_api.py
  src/datadog_api_client/v2/api/incidents_api.py
  src/datadog_api_client/v2/api/logs_api.py
  src/datadog_api_client/v2/api/processes_api.py
  src/datadog_api_client/v2/api/rum_api.py
  src/datadog_api_client/v2/api/security_monitoring_api.py
Labels: changelog/Added
