Repository DataDog/datadog-api-client-python, pull requests merged in 2022-09, with the labels that each got.

#1162 Support proxy in async client
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/rest.py
Labels: changelog/Added

#1164 Document proxy usage
  README.md
Labels: documentation, changelog/no-changelog

#1170 Handle deprecation of APIs and attributes
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/model_generic.j2
  src/datadog_api_client/v1/api/aws_logs_integration_api.py
  src/datadog_api_client/v1/api/events_api.py
  src/datadog_api_client/v1/api/logs_api.py
  src/datadog_api_client/v1/api/logs_pipelines_api.py
  src/datadog_api_client/v1/api/metrics_api.py
  src/datadog_api_client/v1/api/monitors_api.py
  src/datadog_api_client/v1/api/organizations_api.py
  src/datadog_api_client/v1/api/service_checks_api.py
  src/datadog_api_client/v1/api/usage_metering_api.py
  src/datadog_api_client/v1/model/dashboard.py
  src/datadog_api_client/v1/model/dashboard_template_variable.py
  src/datadog_api_client/v1/model/dashboard_template_variable_preset_value.py
  src/datadog_api_client/v1/model/distribution_widget_definition.py
  src/datadog_api_client/v1/model/log_stream_widget_definition.py
  src/datadog_api_client/v1/model/logs_arithmetic_processor.py
  src/datadog_api_client/v1/model/logs_category_processor.py
  src/datadog_api_client/v1/model/logs_date_remapper.py
  src/datadog_api_client/v1/model/logs_status_remapper.py
  src/datadog_api_client/v1/model/logs_string_builder_processor.py
  src/datadog_api_client/v1/model/logs_trace_remapper.py
  src/datadog_api_client/v1/model/monitor_options.py
  src/datadog_api_client/v1/model/monitor_summary_widget_definition.py
  src/datadog_api_client/v1/model/organization.py
  src/datadog_api_client/v1/model/organization_create_body.py
  src/datadog_api_client/v1/model/slo_history_monitor.py
  src/datadog_api_client/v1/model/slo_history_sli_data.py
  src/datadog_api_client/v1/model/synthetics_api_test_result_full.py
  src/datadog_api_client/v1/model/synthetics_api_test_result_short.py
  src/datadog_api_client/v1/model/synthetics_browser_test_result_full.py
  src/datadog_api_client/v1/model/synthetics_browser_test_result_short.py
  src/datadog_api_client/v1/model/tree_map_widget_definition.py
  src/datadog_api_client/v1/model/widget_marker.py
  src/datadog_api_client/v2/api/logs_api.py
  src/datadog_api_client/v2/api/metrics_api.py
  src/datadog_api_client/v2/api/usage_metering_api.py
  src/datadog_api_client/v2/model/metric_custom_aggregations.py
  src/datadog_api_client/v2/model/metric_tag_configuration_attributes.py
  src/datadog_api_client/v2/model/metric_tag_configuration_create_attributes.py
  src/datadog_api_client/v2/model/metric_tag_configuration_update_attributes.py
Labels: changelog/Fixed

#1190 Minor cleanups
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/model_utils.j2
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/api_client.py
  src/datadog_api_client/model_utils.py
  src/datadog_api_client/rest.py
Labels: changelog/no-changelog

#1176 Validate params in BDD tests
  tests/conftest.py
Labels: changelog/no-changelog
