Repository DataDog/datadog-api-client-python, pull requests merged in 2022-04, with the labels that each got.

#938 ci: fix target branch name usage
  .github/workflows/test.yml
Labels: changelog/no-changelog, dev/testing

#955 Fix camel case version of `ListSLOs`
  .generator/src/generator/replacement.json
  src/datadog_api_client/v1/api/service_level_objectives_api.py
Labels: changelog/Fixed

#952 Serialize body in async client
  src/datadog_api_client/rest.py
  tests/test_async.py
Labels: changelog/Fixed

#965 Fix example generation
  .generator/conftest.py
  .generator/poetry.lock
  .generator/pyproject.toml
  .pre-commit-config.yaml
Labels: changelog/no-changelog
