Repository DataDog/datadog-api-client-python, pull requests merged in 2022-03, with the labels that each got.

#861 Publish sdist
  .github/workflows/publish.yml
Labels: changelog/no-changelog

#869 Use standalone binary for `datadog-ci` instead of `npm`
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#863 Bump ddtrace>=1.0.0rc1
  setup.cfg
  tests/conftest.py
Labels: changelog/no-changelog

#876 Change path for `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#877 Minor docstring fix
  .generator/src/generator/templates/api.j2
  src/datadog_api_client/v1/api/key_management_api.py
  src/datadog_api_client/v1/api/metrics_api.py
  src/datadog_api_client/v1/api/organizations_api.py
  src/datadog_api_client/v2/api/auth_n_mappings_api.py
  src/datadog_api_client/v2/api/key_management_api.py
  src/datadog_api_client/v2/api/logs_api.py
  src/datadog_api_client/v2/api/logs_archives_api.py
  src/datadog_api_client/v2/api/metrics_api.py
  src/datadog_api_client/v2/api/roles_api.py
  src/datadog_api_client/v2/api/rum_api.py
  src/datadog_api_client/v2/api/security_monitoring_api.py
  src/datadog_api_client/v2/api/service_accounts_api.py
  src/datadog_api_client/v2/api/users_api.py
Labels: changelog/no-changelog

#879 Add basic mypy structure
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/base_configuration.j2
  .generator/src/generator/templates/model_utils.j2
  .generator/src/generator/templates/rest.j2
  run-tests.sh
  setup.cfg
  src/datadog_api_client/api_client.py
  src/datadog_api_client/configuration.py
  src/datadog_api_client/model_utils.py
  src/datadog_api_client/rest.py
Labels: changelog/no-changelog

#883 Bump minimum python
  .github/workflows/test.yml
  setup.cfg
Labels: changelog/Changed

#881 Remove freezegun usage
  setup.cfg
  tests/conftest.py
Labels: changelog/no-changelog

#886 Bump pytest-bdd
  setup.cfg
  tests/conftest.py
Labels: changelog/no-changelog

#904 Rename models and operations with mixed cases
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/replacement.json
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/apis.j2
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/model_generic.j2
  .generator/src/generator/templates/model_oneof.j2
  .generator/src/generator/templates/model_simple.j2
  .generator/src/generator/templates/models.j2
  docs/datadog_api_client.v1.model.rst
  docs/datadog_api_client.v2.api.rst
  docs/datadog_api_client.v2.model.rst
  src/datadog_api_client/v1/api/organizations_api.py
  src/datadog_api_client/v1/api/usage_metering_api.py
  src/datadog_api_client/v1/model/usage_iot_hour.py
  src/datadog_api_client/v1/model/usage_iot_response.py
  src/datadog_api_client/v1/models/__init__.py
  src/datadog_api_client/v2/api/authn_mappings_api.py
  src/datadog_api_client/v2/apis/__init__.py
  src/datadog_api_client/v2/model/authn_mapping.py
  src/datadog_api_client/v2/model/authn_mapping_attributes.py
  src/datadog_api_client/v2/model/authn_mapping_create_attributes.py
  src/datadog_api_client/v2/model/authn_mapping_create_data.py
  src/datadog_api_client/v2/model/authn_mapping_create_relationships.py
  src/datadog_api_client/v2/model/authn_mapping_create_request.py
  src/datadog_api_client/v2/model/authn_mapping_included.py
  src/datadog_api_client/v2/model/authn_mapping_relationships.py
  src/datadog_api_client/v2/model/authn_mapping_response.py
  src/datadog_api_client/v2/model/authn_mapping_update_attributes.py
  src/datadog_api_client/v2/model/authn_mapping_update_data.py
  src/datadog_api_client/v2/model/authn_mapping_update_relationships.py
  src/datadog_api_client/v2/model/authn_mapping_update_request.py
  src/datadog_api_client/v2/model/authn_mappings_response.py
  src/datadog_api_client/v2/model/authn_mappings_sort.py
  src/datadog_api_client/v2/model/authn_mappings_type.py
  src/datadog_api_client/v2/models/__init__.py
  tests/conftest.py
Labels: changelog/Fixed

#921 Fix generation of oneOf types
  .generator/src/generator/openapi.py
  src/datadog_api_client/v1/model/sunburst_widget_legend.py
  src/datadog_api_client/v2/model/logs_group_by_total.py
Labels: changelog/Fixed

#922 Allow bool coercion/conversion
  .generator/src/generator/templates/model_utils.j2
  src/datadog_api_client/model_utils.py
Labels: changelog/Fixed

#926 Fix type of nullable additionalProperties
  .generator/src/generator/openapi.py
  src/datadog_api_client/v1/model/monitor_options.py
Labels: changelog/Fixed
