Repository DataDog/datadog-api-client-python, pull requests merged in 2023-08, with the labels that each got.

#1612 Add docs for retry parameters
  .generator/src/generator/templates/configuration.j2
  src/datadog_api_client/configuration.py
Labels: documentation, changelog/no-changelog

#1613 Support retry in async client
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/rest.py
Labels: changelog/Added

#1615 Support paginated methods in async client
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/api_client.j2
  src/datadog_api_client/api_client.py
  src/datadog_api_client/v2/api/audit_api.py
  src/datadog_api_client/v2/api/ci_visibility_pipelines_api.py
  src/datadog_api_client/v2/api/ci_visibility_tests_api.py
  src/datadog_api_client/v2/api/events_api.py
  src/datadog_api_client/v2/api/incidents_api.py
  src/datadog_api_client/v2/api/logs_api.py
  src/datadog_api_client/v2/api/processes_api.py
  src/datadog_api_client/v2/api/rum_api.py
  src/datadog_api_client/v2/api/security_monitoring_api.py
  src/datadog_api_client/v2/api/service_definition_api.py
  src/datadog_api_client/v2/api/spans_api.py
Labels: changelog/Added

#1628 Cleanup generator type mapping functions
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/model_simple.j2
  docs/datadog_api_client.v1.model.rst
  src/datadog_api_client/v1/model/distribution_point.py
  src/datadog_api_client/v1/model/distribution_point_data.py
  src/datadog_api_client/v1/models/__init__.py
Labels: changelog/no-changelog

#1641 Add backoff factor validation
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/configuration.py
  tests/test_retry.py
Labels: changelog/no-changelog
