Repository DataDog/datadog-api-client-python, pull requests merged in 2023-10, with the labels that each got.

#1702 Pass all keyword/ arguments to avoid panics with `setuptools_scm` > 8
  setup.cfg
  setup.py
Labels: changelog/Fixed

#1671 Enable request retry in BDD tests
  tests/conftest.py
Labels: changelog/no-changelog

#1710 Fix "behavior" typo in TESTING.md
  TESTING.md
Labels: documentation, changelog/no-changelog, severity/minor, mergequeue-status: error

#1713 Remove tracer custom setup
  tests/conftest.py
Labels: changelog/no-changelog

#1728 Add minimal typing_extensions version
  setup.cfg
Labels: changelog/Fixed

#1701 Run python 3.12 in CI
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  examples/v2/incidents/SearchIncidents.py
Labels: changelog/no-changelog, ci/integrations

#1743 Add UUID format support
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/model_utils.j2
  src/datadog_api_client/api_client.py
  src/datadog_api_client/model_utils.py
  src/datadog_api_client/v1/model/agent_check.py
  src/datadog_api_client/v1/model/host_meta.py
  src/datadog_api_client/v1/model/log_content.py
  src/datadog_api_client/v1/model/monitor_search_count_item.py
  src/datadog_api_client/v1/model/synthetics_api_test_result_data.py
  src/datadog_api_client/v1/model/synthetics_assertion.py
  src/datadog_api_client/v1/model/synthetics_assertion_json_path_target_target.py
  src/datadog_api_client/v1/model/synthetics_assertion_target.py
  src/datadog_api_client/v1/model/synthetics_assertion_x_path_target_target.py
  src/datadog_api_client/v1/model/synthetics_step_detail.py
  src/datadog_api_client/v2/model/audit_logs_event_attributes.py
  src/datadog_api_client/v2/model/ci_app_event_attributes.py
  src/datadog_api_client/v2/model/ci_app_pipeline_event_attributes.py
  src/datadog_api_client/v2/model/ci_app_pipelines_bucket_response.py
  src/datadog_api_client/v2/model/ci_app_tests_bucket_response.py
  src/datadog_api_client/v2/model/cloud_configuration_compliance_rule_options.py
  src/datadog_api_client/v2/model/downtime_monitor_identifier_id.py
  src/datadog_api_client/v2/model/downtime_monitor_identifier_tags.py
  src/datadog_api_client/v2/model/downtime_schedule_one_time_create_update_request.py
  src/datadog_api_client/v2/model/downtime_schedule_recurrence_create_update_request.py
  src/datadog_api_client/v2/model/log_attributes.py
  src/datadog_api_client/v2/model/logs_aggregate_bucket.py
  src/datadog_api_client/v2/model/powerpack_inner_widgets.py
  src/datadog_api_client/v2/model/rum_event_attributes.py
  src/datadog_api_client/v2/model/security_monitoring_signal_attributes.py
  src/datadog_api_client/v2/model/security_monitoring_signal_state_update_data.py
  src/datadog_api_client/v2/model/sensitive_data_scanner_get_config_response_data.py
  src/datadog_api_client/v2/model/service_definition_schema.py
  src/datadog_api_client/v2/model/service_definition_v1.py
  src/datadog_api_client/v2/model/service_definition_v2.py
  src/datadog_api_client/v2/model/service_definition_v2_dot1.py
  src/datadog_api_client/v2/model/service_definition_v2_dot2.py
  src/datadog_api_client/v2/model/service_definitions_create_request.py
  src/datadog_api_client/v2/model/spans_aggregate_bucket_attributes.py
  src/datadog_api_client/v2/model/spans_attributes.py
Labels: changelog/Added
