Repository DataDog/datadog-api-client-python, pull requests merged in 2023-07, with the labels that each got.

#1547 Update dependencies
  .generator/src/generator/templates/apis.j2
  .generator/src/generator/templates/init.j2
  .generator/src/generator/templates/models.j2
  .pre-commit-config.yaml
  setup.cfg
  src/datadog_api_client/__init__.py
  src/datadog_api_client/api_client.py
  src/datadog_api_client/model_utils.py
  src/datadog_api_client/v1/__init__.py
  src/datadog_api_client/v1/apis/__init__.py
  src/datadog_api_client/v1/model/notebook_cell_time.py
  src/datadog_api_client/v1/models/__init__.py
  src/datadog_api_client/v2/__init__.py
  src/datadog_api_client/v2/apis/__init__.py
  src/datadog_api_client/v2/model/logs_archive_destination.py
  src/datadog_api_client/v2/models/__init__.py
Labels: changelog/no-changelog

#1556 Allow use of latest urllib3
  setup.cfg
  src/datadog_api_client/api_client.py
  src/datadog_api_client/exceptions.py
Labels: changelog/Changed

#1563 Update template for urllib changes
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/exceptions.j2
Labels: changelog/no-changelog

#1571 Add labeled triggers to `integration_tests`
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#1572 Fix package init
  src/datadog_api_client/__init__.py
Labels: changelog/no-changelog

#1574 Update generator dependencies
  .generator/poetry.lock
  .generator/pyproject.toml
Labels: changelog/no-changelog

#1596 Refactor request call
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/rest.py
Labels: changelog/no-changelog

#1384 Add retry
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/rest.j2
  README.md
  src/datadog_api_client/configuration.py
  src/datadog_api_client/rest.py
  tests/cassettes/test_retry/test_retry_errors.yaml
  tests/cassettes/test_retry/test_retry_rate_limit.yaml
  tests/test_retry.py
Labels: documentation, changelog/Changed

#1604 Remove warnings in example generation
  .generator/src/generator/formatter.py
Labels: changelog/no-changelog
