Repository DataDog/datadog-api-client-python, pull requests merged in 2023-01, with the labels that each got.

#1287 Pin sphinx
  docs/requirements.txt
Labels: changelog/no-changelog

#1284 Expose helper method to retrieve oneOf instance
  .generator/src/generator/templates/model_utils.j2
  src/datadog_api_client/model_utils.py
Labels: changelog/Added

#1293 Unpin sphinx
  .github/workflows/docs.yml
  docs/requirements.txt
Labels: changelog/no-changelog

#1292 Update github-script action
  .github/workflows/docs.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Labels: changelog/no-changelog

#1299 Use latest sphinx version to build cache key
  .github/workflows/docs.yml
Labels: changelog/no-changelog

#1303 Fix APIs default init
  .generator/src/generator/templates/api.j2
  src/datadog_api_client/v1/api/authentication_api.py
  src/datadog_api_client/v1/api/aws_integration_api.py
  src/datadog_api_client/v1/api/aws_logs_integration_api.py
  src/datadog_api_client/v1/api/azure_integration_api.py
  src/datadog_api_client/v1/api/dashboard_lists_api.py
  src/datadog_api_client/v1/api/dashboards_api.py
  src/datadog_api_client/v1/api/downtimes_api.py
  src/datadog_api_client/v1/api/events_api.py
  src/datadog_api_client/v1/api/gcp_integration_api.py
  src/datadog_api_client/v1/api/hosts_api.py
  src/datadog_api_client/v1/api/ip_ranges_api.py
  src/datadog_api_client/v1/api/key_management_api.py
  src/datadog_api_client/v1/api/logs_api.py
  src/datadog_api_client/v1/api/logs_indexes_api.py
  src/datadog_api_client/v1/api/logs_pipelines_api.py
  src/datadog_api_client/v1/api/metrics_api.py
  src/datadog_api_client/v1/api/monitors_api.py
  src/datadog_api_client/v1/api/notebooks_api.py
  src/datadog_api_client/v1/api/organizations_api.py
  src/datadog_api_client/v1/api/pager_duty_integration_api.py
  src/datadog_api_client/v1/api/security_monitoring_api.py
  src/datadog_api_client/v1/api/service_checks_api.py
  src/datadog_api_client/v1/api/service_level_objective_corrections_api.py
  src/datadog_api_client/v1/api/service_level_objectives_api.py
  src/datadog_api_client/v1/api/slack_integration_api.py
  src/datadog_api_client/v1/api/snapshots_api.py
  src/datadog_api_client/v1/api/synthetics_api.py
  src/datadog_api_client/v1/api/tags_api.py
  src/datadog_api_client/v1/api/usage_metering_api.py
  src/datadog_api_client/v1/api/users_api.py
  src/datadog_api_client/v1/api/webhooks_integration_api.py
  src/datadog_api_client/v2/api/audit_api.py
  src/datadog_api_client/v2/api/authn_mappings_api.py
  src/datadog_api_client/v2/api/ci_visibility_pipelines_api.py
  src/datadog_api_client/v2/api/ci_visibility_tests_api.py
  src/datadog_api_client/v2/api/cloud_workload_security_api.py
  src/datadog_api_client/v2/api/confluent_cloud_api.py
  src/datadog_api_client/v2/api/dashboard_lists_api.py
  src/datadog_api_client/v2/api/events_api.py
  src/datadog_api_client/v2/api/incident_services_api.py
  src/datadog_api_client/v2/api/incident_teams_api.py
  src/datadog_api_client/v2/api/incidents_api.py
  src/datadog_api_client/v2/api/key_management_api.py
  src/datadog_api_client/v2/api/logs_api.py
  src/datadog_api_client/v2/api/logs_archives_api.py
  src/datadog_api_client/v2/api/logs_metrics_api.py
  src/datadog_api_client/v2/api/metrics_api.py
  src/datadog_api_client/v2/api/opsgenie_integration_api.py
  src/datadog_api_client/v2/api/organizations_api.py
  src/datadog_api_client/v2/api/processes_api.py
  src/datadog_api_client/v2/api/roles_api.py
  src/datadog_api_client/v2/api/rum_api.py
  src/datadog_api_client/v2/api/security_monitoring_api.py
  src/datadog_api_client/v2/api/sensitive_data_scanner_api.py
  src/datadog_api_client/v2/api/service_accounts_api.py
  src/datadog_api_client/v2/api/service_definition_api.py
  src/datadog_api_client/v2/api/usage_metering_api.py
  src/datadog_api_client/v2/api/users_api.py
Labels: changelog/Fixed
