Repository DataDog/datadog-api-client-python, pull requests merged in 2023-09, with the labels that each got.

#1655 Pass SSL configuration arguments to Async Api Client
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/rest.py
Labels: changelog/Fixed

#1666 Change fake auth keys to use valid format
  tests/test_async.py
Labels: changelog/no-changelog, ci/integrations

#1675 Rerun failed tests
  run-tests.sh
Labels: changelog/no-changelog
