Repository DataDog/datadog-api-client-python, pull requests merged in 2023-06, with the labels that each got.

#1499 Add back array models for compatibility
  .generator/src/generator/cli.py
  .generator/src/generator/compat-files
  .generator/src/generator/templates/compat.j2
  docs/datadog_api_client.v1.model.rst
  docs/datadog_api_client.v2.model.rst
  src/datadog_api_client/v1/model/agent_check.py
  src/datadog_api_client/v1/model/azure_account_list_response.py
  src/datadog_api_client/v1/model/dashboard_bulk_action_data_list.py
  src/datadog_api_client/v1/model/distribution_point.py
  src/datadog_api_client/v1/model/distribution_point_data.py
  src/datadog_api_client/v1/model/gcp_account_list_response.py
  src/datadog_api_client/v1/model/http_log.py
  src/datadog_api_client/v1/model/logs_pipeline_list.py
  src/datadog_api_client/v1/model/monitor_search_count.py
  src/datadog_api_client/v1/model/notify_end_states.py
  src/datadog_api_client/v1/model/notify_end_types.py
  src/datadog_api_client/v1/model/point.py
  src/datadog_api_client/v1/model/service_checks.py
  src/datadog_api_client/v1/model/shared_dashboard_invites_data_list.py
  src/datadog_api_client/v1/model/slack_integration_channels.py
  src/datadog_api_client/v1/model/synthetics_restricted_roles.py
  src/datadog_api_client/v1/model/usage_attribution_aggregates.py
  src/datadog_api_client/v2/model/ci_app_aggregate_bucket_value_timeseries.py
  src/datadog_api_client/v2/model/events_query_group_bys.py
  src/datadog_api_client/v2/model/finding_tags.py
  src/datadog_api_client/v2/model/group_tags.py
  src/datadog_api_client/v2/model/http_log.py
  src/datadog_api_client/v2/model/incident_todo_assignee_array.py
  src/datadog_api_client/v2/model/list_findings_data.py
  src/datadog_api_client/v2/model/logs_aggregate_bucket_value_timeseries.py
  src/datadog_api_client/v2/model/metric_bulk_tag_config_email_list.py
  src/datadog_api_client/v2/model/metric_bulk_tag_config_tag_name_list.py
  src/datadog_api_client/v2/model/metric_custom_aggregations.py
  src/datadog_api_client/v2/model/metric_suggested_aggregations.py
  src/datadog_api_client/v2/model/rum_aggregate_bucket_value_timeseries.py
  src/datadog_api_client/v2/model/scalar_formula_request_queries.py
  src/datadog_api_client/v2/model/security_monitoring_signal_incident_ids.py
  src/datadog_api_client/v2/model/sensitive_data_scanner_get_config_included_array.py
  src/datadog_api_client/v2/model/sensitive_data_scanner_standard_patterns_response.py
  src/datadog_api_client/v2/model/tags_event_attribute.py
  src/datadog_api_client/v2/model/team_permission_setting_values.py
  src/datadog_api_client/v2/model/timeseries_formula_request_queries.py
  src/datadog_api_client/v2/model/timeseries_response_series_list.py
  src/datadog_api_client/v2/model/timeseries_response_times.py
  src/datadog_api_client/v2/model/timeseries_response_values.py
  src/datadog_api_client/v2/model/timeseries_response_values_list.py
Labels: changelog/Fixed

#1505 Fix handling of timeout in async client
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/rest.py
Labels: changelog/no-changelog

#1512 Fix example generation for `oneOf`
  .generator/src/generator/formatter.py
Labels: changelog/no-changelog

#1536 Update ddtrace
  .github/workflows/test_integration.yml
  setup.cfg
Labels: changelog/no-changelog

#1542 Fix release calculation and notes
  .github/workflows/prepare_release.yml
  RELEASING.md
Labels: documentation, changelog/no-changelog

#1545 Fix nits found by static analysis
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/model_utils.j2
  src/datadog_api_client/api_client.py
  src/datadog_api_client/configuration.py
  src/datadog_api_client/model_utils.py
Labels: changelog/no-changelog
