Repository DataDog/datadog-api-client-python, pull requests merged in 2024-09, with the labels that each got.

#2144 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation, changelog/no-changelog

#2150 Fix nested array oneOf imports
  .generator/src/generator/openapi.py
Labels: changelog/no-changelog

#2151 Set more restrictive permissions.
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, mergequeue-status: in_progress

#2186 Fix crash when closing an async client.
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/rest.j2
  src/datadog_api_client/api_client.py
  src/datadog_api_client/rest.py
  tests/test_async.py
Labels: changelog/Fixed
